@import url('./views/list-view.css');
@import url('lumo-css-framework/all-classes.css');

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.centered-content {
  margin: 0 auto;
  max-width: 250px;
}